@import "./vars.css";

.page {
    scroll-behavior: smooth;
}

html {
    font-family: 'Science Gothic';
    color: var(--color-text)
}

body {
    background-color: var(--color-main);
}

* {
    box-sizing: border-box;
}

.container {
    max-width: 1250px;
    margin: 0 auto;
    padding: 0 15px;
}
